<p id="notice"><%= notice %></p>

<p>
  <b>Date arrived:</b>
  <%= @patient.date_arrived %>
</p>

<p>
  <b>Time arrived:</b>
  <%= @patient.time_arrived %>
</p>

<p>
  <b>MLC status:</b>
  <%= @patient.mlc %>
</p>

<p>
  <b>First name:</b>
  <%= @patient.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @patient.last_name %>
</p>

<p>
  <b>Age</b>
  <%= @patient.age %>
</p>

<p>
  <b>Gender</b>
  <%= @patient.gender %>
</p>

<p>
  <b>S/O W/O D/O:</b>
  <%= @patient.relation %>
</p>

<p>
  <b>Address:</b>
  <%= @patient.address %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
