<%= form_for(@investigation) do |f| %>
  <% if @investigation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investigation.errors.count, "error") %> prohibited this investigation from being saved:</h2>

      <ul>
      <% @investigation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :investigation %><br />
    <%= f.text_field :investigation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
