<h1>Listing investigations</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Investigation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investigations.each do |investigation| %>
  <tr>
    <td><%= investigation.patient_id %></td>
    <td><%= investigation.investigation %></td>
    <td><%= link_to 'Show', investigation %></td>
    <td><%= link_to 'Edit', edit_investigation_path(investigation) %></td>
    <td><%= link_to 'Destroy', investigation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investigation', new_investigation_path %>
