%p#notice= notice
%p
  %b Patient:
  = @investigation.patient_id
%p
  %b Investigation:
  = @investigation.investigation
= link_to 'Edit', edit_investigation_path(@investigation)
|
\#{link_to 'Back', investigations_path}
