= form_for(@complaint) do |f|
  - if @complaint.errors.any?
    #error_explanation
      %h2
        = pluralize(@complaint.errors.count, "error")
        prohibited this complaint from being saved:
      %ul
        - @complaint.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :patient_id
    %br/
    = f.text_field :patient_id
  .field
    = f.label :complaint
    %br/
    = f.text_field :complaint
  .actions
    = f.submit
