%h3 New Complaint
= form_for(@patient.complaints) do |f|
  - if @patient.complaint.errors.any?
    #error_explanation
      %h2
        = pluralize(@patient.complaints.errors.count, "error")
        prohibited this complaint from being saved:
      %ul
        - @patient.complaints.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :complaint
    %br/
    = f.text_field :complaint
  .actions
    = f.submit
