<h1>Listing complaints</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Complaint</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complaints.each do |complaint| %>
  <tr>
    <td><%= complaint.patient_id %></td>
    <td><%= complaint.complaint %></td>
    <td><%= link_to 'Show', complaint %></td>
    <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
    <td><%= link_to 'Destroy', complaint, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Complaint', new_complaint_path %>
