%h1 Listing complaints
%table
  %tr
    %th Patient
    %th Complaint
    %th
    %th
    %th
  - @complaints.each do |complaint|
    %tr
      %td= complaint.patient_id
      %td= complaint.complaint
      %td= link_to 'Show', complaint
      %td= link_to 'Edit', edit_complaint_path(complaint)
      %td= link_to 'Destroy', complaint, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Complaint', new_complaint_path
