<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @complaint.patient_id %>
</p>

<p>
  <b>Complaint:</b>
  <%= @complaint.complaint %>
</p>


<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
