%h3 New Initial Treatment
= form_for(@initial_treatment) do |f|
  - if @initial_treatment.errors.any?
    #error_explanation
      %h2
        = pluralize(@initial_treatment.errors.count, "error")
        prohibited this initial_treatment from being saved:
      %ul
        - @initial_treatment.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :patient_id
    %br/
    = f.text_field :patient_id
  .field
    = f.label :treatment
    %br/
    = f.text_field :treatment
  .actions
    = f.submit
