<h1>Listing initial_treatments</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Treatment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @initial_treatments.each do |initial_treatment| %>
  <tr>
    <td><%= initial_treatment.patient_id %></td>
    <td><%= initial_treatment.treatment %></td>
    <td><%= link_to 'Show', initial_treatment %></td>
    <td><%= link_to 'Edit', edit_initial_treatment_path(initial_treatment) %></td>
    <td><%= link_to 'Destroy', initial_treatment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Initial treatment', new_initial_treatment_path %>
