%p#notice= notice
%p
  %b Patient:
  = @initial_treatment.patient_id
%p
  %b Treatment:
  = @initial_treatment.treatment
= link_to 'Edit', edit_initial_treatment_path(@initial_treatment)
|
\#{link_to 'Back', initial_treatments_path}
