<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_arrived %><br />
    <%= f.date_select :date_arrived %>
  </div>
  <div class="field">
    <%= f.label :time_arrived %><br />
    <%= f.time_select :time_arrived %>
  </div>
  <div class="field">
    <%= f.label :mlc_status %><br />
    <%= f.check_box :mlc_status %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :age_boolean %><br />
    <%= f.check_box :age_boolean %>
  </div>
  <div class="field">
    <%= f.label :relation %><br />
    <%= f.text_field :relation %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
