= div_for patient do
  #datetime
    %p
      %b Date arrived:
      = @patient.date
    %p
      %b Time arrived:
      = @patient.time
  #MLC
    %p
      %b MLC status:
      = @patient.mlc
  #Biodata
    %p
      %b Patient name:
      = @patient.name
    %p
      %b Age
      = @patient.age
    %p
      %b Gender
      = @patient.gender
    %p
      %b S/O W/O D/O:
      = @patient.relation
    %p
      %b Address:
      = @patient.address
  .noprint
    = link_to 'Edit', edit_patient_path(@patient)
    = link_to 'Back', patients_path
