= div_for patient do
  %p
    %b Date arrived:
    = @patient.date_arrived
  %p
    %b Time arrived:
    = @patient.time_arrived
  %p
    %b MLC status:
    = @patient.mlc
  %p
    %b First name:
    = @patient.first_name
  %p
    %b Last name:
    = @patient.last_name
  %p
    %b Age
    = @patient.age
  %p
    %b Gender
    = @patient.gender
  %p
    %b S/O W/O D/O:
    = @patient.relation
  %p
    %b Address:
    = @patient.address
= link_to 'Edit', edit_patient_path(@patient)