#sidebar.noprint
  .right.column
    = render :partial => "sidebar"
= render @patient
#complaints
  %h3 Complaints
  = render @patient.complaints
  .noprint
    = link_to "New Complaint", new_patient_complaint_path(@patient, :format => :js), :remote => true, :id => 'new_complaint_link'
#investigations
  %h3 Investigations
  = render @patient.investigations
  .noprint
    = link_to "New Investigation", new_patient_investigation_path(@patient, :format => :js), :remote => true, :id => 'new_investigation_link'
#treatments
  %h3 Treatments Done
  = render @patient.initial_treatments
  .noprint
    = link_to "New Treatment", new_patient_initial_treatment_path(@patient, :format => :js), :remote => true, :id => 'new_treatment_link'