.right.column
  = render :partial => "sidebar"
= render @patient
%h3 Complaints
#complaints
  .box
    = render @patient.complaints
    = link_to "New Complaint", new_patient_complaint_path(@patient, :format => :js), :remote => true, :id => 'new_complaint_link'
%h3 Investigations
#investigations
  .box
    = render @patient.investigations
    = link_to "New Investigation", new_patient_investigation_path(@patient, :format => :js), :remote => true, :id => 'new_investigation_link'
%h3 Treatments Done
#treatments
  .box
    = render @patient.initial_treatments
    = link_to "New Treatment", new_patient_initial_treatment_path(@patient, :format => :js), :remote => true, :id => 'new_treatment_link'
