= render @patient
%h3 Complaints
#complaints
  = render @patient.complaints
= render :file => 'complaints/new'
%h3 Investigations
#investigations
  = render @patient.investigations
= render :file => 'investigations/new'
%h3 Treatments Done
#treatments
  = render @patient.initial_treatments
= render :file => 'initial_treatments/new'
