!!!
%html
  %head
    %title Accident & Emergency Department, Nishtar Hospital Multan.
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = content_tag :p, notice, :class => 'notice' if notice.present?
    = content_tag :p, alert, :class => 'alert' if alert.present?
    = yield
